*{
	margin:0;
	padding:0;
}

.container2{
	height: 710px;
	width: 1140px;
	margin-left: 90px;
	position: relative;
	top: -315px;
	
	background-image: url(minimalistic.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.img-container{
	width: 200px;
	
	/*position: relative;
	left: 30px;*/
}


.header1{
	height: 15%;
	display: flex;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.logo1{
	width: 1000px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-family: "Mate SC";
}

		
.btn1{
	cursor: pointer;
	color: #808080;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 10px 30px;
	border: 2px solid #708090;
	background: transparent;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	margin: 40px 8px;
	
}

.content1{
	text-align: center;
	margin-top: -3%;
}

.content1 h1{
	font-family: "Mate SC";
	font-size:50px;
	color: black;
	width:500px;
}

.content1 h3,p{
	width:400px;
	color: black;
	font-family: "Mate SC";
	position: relative;
	left: 30px;
}


.btn1:hover{
	color:#000;
	background-color: #fff;
}

.btn1 a:visited{
	background-color: #fff;
	color: black;
}

.btn1 a:hover{
	color:#000;
}

.btn1 a:link{
	text-decoration:none;
}

.footer3{
	height: 170px;
	width: 1140px;
	position: relative;
	background-color: lightgray;
	margin-left: 90px;
	top: -290px;

}
.footer3 ul li{
	list-style: none;
	position: relative;
	left: 40px;
}

.footer3copy{
	height: 170px;
	width: 550px;
	position: relative;
	background-color: lightgray;
	left: 190px;
	top: -165px;
}

.footer3copy ol li{
	list-style: none;
	position: relative;
	left: 20px;
}

.footer3copy3{
	height: 170px;
	width: 550px;
	position: relative;
	background-color: lightgray;
	left: 550px;
	top: -458px;
}
.footer3copy3 ol li{
	list-style: none;
}
.footer3copy3 h5{
	position: relative;
	color: #009688;

}
